*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(231, 221, 115, 0.65),rgba(253, 255, 212, 0.65)), url(pics/homeBg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 180px;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: yellow;
    border-bottom: 2px solid;
}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: yellow;
    color: rgb(0, 0, 0);
    font-weight: 500;
    cursor: pointer;
    border-radius: 50px;
}

.btn img {
    width: 20px;
    margin-right: 10px;
}

.content{
    margin-top: 10%;
    color: white;
    max-width: 1080px;
}

.content h1{
    font-size: 70px;
    font-weight: 600px;
    line-height: 85px;
    margin-bottom: 25px;
    color: yellow;
}