*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(152, 67, 67, 0.65),rgba(45, 47, 45, 0.65)), url(pics/homeBg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 180px;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li a:hover{
    color: yellow;
    border-bottom: 2px solid;
}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: yellow;
    color: rgb(0, 0, 0);
    font-weight: 500;
    cursor: pointer;
    border-radius: 50px;
}

.btn img {
    width: 20px;
    margin-right: 10px;
}

.content{
    margin-top: 10%;
    color: white;
    max-width: 1080px;
}

.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
    color: white;
}

.content p {
    margin-bottom: 25px;
    font-size: 20px;
}
.explore-Btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 25px;
    background-color: yellow;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer;
}

.explore-Btn:hover{
    transform: translateX(10px);
    border: 2px solid(yellow);
    color: black;
}

.explore-Btn2 {
    display: inline-flex;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer;
}

